<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<hr class="my-4">
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Build your application</h1>
    </div>
    <hr class="my-4">
    <div class="col-12">
      <p>Welcome my Bookstrap 4 tutorials. Bookstrap is an open-source and free front-end library with HTML and
        CSS based design</p>

    </div>
  </div>
</div>
<div class="container-fuild padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="src/app/img/Artboard-7.png">
      <a href="#">change</a>
      <a href="#">delete</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fab fa-angular"></i>
      <h3>Angular</h3>
      <p>Build your Website and Font-end Application</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <i class="fab fa-css3"></i>
      <h3>CSS3,HTML</h3>
      <p>Build your Website and Font-end Application</p>
    </div>
  </div>
  <hr class="my-4">
</div>
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <h2>If you build it...</h2>
      <p>Arduina is an open-source hardware,software and content pladfom with a
        global community.It's intended for anyone making interactive projects.</p>
      <p>Arduina is an open-source hardware,software and content pladfom with a
        global community.It's intended for anyone making interactive projects.</p>
      <br>
    </div>
    <div class="col-lg-6">
      <img src="src/app/img/0.jpg" class="img-fluid">
    </div>
  </div>
</div>
<hr class="my-2">

</body>
