<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quốc Việt-Gaming</title>
    <link rel="stylesheet" href="./CSS/main.css">
</head>
<body>
<header>
    <div class="left-menu">
        <div class="logo">QUOC VIET
        </div>
        <nav class="menu">
            <a href="#">TOP STREAM</a>
            <a href="#">GAME</a>
            <a href="#">TEAMS</a>
            <a href="#">MORE</a>
        </nav>
    </div>
    <div class="right-menu">
        <div class="language">Language
        </div>
        <a class="Sign">Sign in
        </a>
    </div>
</header>
</body>
</html>